body {
    background-color: rgb(37,37,38);
}

.container {
    position: relative;
}

.Main {
    background-color: rgb(30,30,30);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 1);
    border-radius: 10px;

    position: absolute;
    left: 32%;
    padding: 10px;

    display: inline-block;
    width: 35%;

    z-index: 1;
}

.Header {
    color: whitesmoke;

    font-size: xx-large;
    font-weight: bold;

    margin-left: 225px;
}

.Text {
    color: whitesmoke;

    font-size: larger;

    margin-left: 30px;
    margin-right: 30px;
}

.Photo1 {
    border-radius: 10px;

    width: 30%;

    z-index: -1;
}

.Photo12 {
    border-radius: 10px;

    width: 30%;

    float: right;

    z-index: -1;
}


.Photo2 {
    border-radius: 10px;

    width: 30%;

    position: absolute;
    left: 70%;
    top: 102%;

    z-index: -1;
}

.Photo22 {
    border-radius: 10px;
    
    width: 30%;

    float: right;
    position: absolute;
    left: 0%;
    top: 102%;

    z-index: -1;
}

.button {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.65);
    color: whitesmoke;

    text-decoration: none;

    margin-top: 70px;
    margin-left: 250px;

    border-radius: 2px;
    cursor: pointer;
    
    height: 45px;
    width: 150px;


    transition: background-color 0.3s,
                border-color 0.3s;
}

.button:hover {
    background-color: rgb(45,45,48);
    border-color: rgba(255, 255, 255, 0.8);
}

.button:active {
    background-color: rgb(62,62,66);
    border-color: rgba(255, 255, 255, 1);
}
